/* cabeçalho */
.header-menu {
    width: 100vw;
    height: 8%;
    background-color: var(--header-background);
    position: relative;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
}

.header-menu__logo {
    height: 60%;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-menu__logo-container {
    width: 30%;
    height: 100%;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu__logo-container a,
.header-menu__logo-container img {
    width: 100%;
    height: 100%;
}

.header-menu__logo a {
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 4px;
    font-weight: 600;
    color: var(--white);
}

/* barra de pesquisa */
.search {
    width: 75%;
    height: 45%;
    display: flex;
    margin: auto 0;
    align-items: center;
    justify-content: center;
}

.search_input {
    width: 50%;
    height: 100%;
    border: none;
    font-size: 15px;
    padding: 0 0 0 4%;
    outline: none;
    color: var(--azul-logo);
}

.search_input::placeholder {
    color: var(--black-opacity);
}

.search_button {
    width: 10%;
    height: 100%;
    background-color: var(--white);
    color: var(--white);
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_button span {
    width: 50%;
    height: 70%;
    background-color: var(--azul-logo);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_button:hover {
    color: var(--header-background-opacity);
}

/* select customizado */
.custom-select {
    height: 100%;
    position: relative;
    display: inline-block;
}

.select-box {
    border-right: 1px solid var(--header-background);
    border-radius: 7px 0 0 7px;
    display: flex;
    align-items: center;
    padding: 0 0 0 10%;
    cursor: pointer;
    width: 100px;
    height: 100%;
    font-weight: bold;
    user-select: none;
    font-size: 12px;
    background-color: var(--white);
    color: var(--black-opacity);
}

.selected-option {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.options {
    width: 110px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    border: 1px solid var(--header-background);
    background-color: var(--white);
}

.options li {
    padding: 5px 10px;
    cursor: pointer;
}

.options li.selected {
    background-color: var(--azul-logo);
    color: var(--white);
    font-weight: bold;
}

.options li:hover {
    color: var(--azul-logo);
}

.search_suggestions {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid var(--header-background);
    width: 580px;
    position: absolute;
    top: 37px;
    left: 484px;
    z-index: 999;
}

.search_suggestions a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: var(--black-opacity);
}

.search_suggestions a:hover {
    color: var(--azul-logo);
}

.admin {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    color: var(--azul-logo);
    cursor: pointer;
}