.perfil {
    width: 100%;
    height: 92%;
    display: flex;
}

.perfil-principal {
    background-color: var(--white);
    height: 100%;
    width: 20%;
    margin: 0 2% 0 0;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.2);
}

.perfil-principal div {
    width: 100%;
    height: 100%;
}

.perfil-principal__div {
    width: 90% !important;
    height: 21% !important;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.border {
    display: block;
    height: 2px;
    width: 170px;
    background-color: var(--header-background-opacity);
    margin: 0 auto;
}

.perfil-principal__div-image {
    width: 50% !important;
    height: 50% !important;
    background-color: var(--gray);
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: relative;
}

.perfil-principal__div-image a {
    height: 100%;
    width: 100%;
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.perfil-principal__div-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 50%;
}

.perfil-principal__div-suporte {
    display: flex;
}

.perfil-principal__div-config {
    margin: 90% 0 0 5%;
    cursor: pointer;
}

.perfil-principal__div-config a {
    color: var(--black);
}

.perfil-principal__div-config a:hover {
    color: var(--azul-logo);
}

.perfil-principal__left {
    height: 69% !important;
    width: 100%;
}

.perfil-principal__left-menu {
    width: 100%;
    height: 100%;
}

.perfil-principal__left li {
    width: 95%;
    height: 14.1%;
    display: flex;
    align-items: center;
    padding: 0 0 0 5%;
    cursor: pointer;
    font-size: 13px;
}

.perfil-principal__left li i {
    font-size: 20px;
    color: var(--azul-logo);
    margin-right: 5%;
    border: none !important;
}

.perfil-principal__left a {
    text-decoration: none;
    color: var(--black);
}

.perfil-principal__left a li:hover,
.perfil-principal__left a li:hover>i {
    color: var(--azul-logo);
    border-right: 1px solid var(--azul-logo);
}

.perfil-right {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.perfil-right__botao {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.perfil-right__botao-adicionar {
    border-radius: 50%;
    padding: 2%;
    font-size: 15px;
    border: none;
    box-shadow: -1px 0px 12px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: var(--white);
}

.perfil-right__botao-adicionar:hover {
    background-color: var(--botao-perfil);
}

.form-container {
    width: 800px;
    margin: 5% auto 0 auto;
    padding: 20px;
    border: 2px solid var(--azul-logo);
    border-radius: 5px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-container h3 {
    position: absolute;
    top: -14px;
    background-color: white;
    padding: 0 0.4%;
}

.form-content {
    display: flex;
    width: 100%;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    color: var(--black);
    font-size: 14px;
}

.form-left {
    width: 47%;
    margin: 0 3% 0 0;
}

.form-right {
    width: 47%;
    margin: 0 0 0 3%;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 2px solid var(--header-background);
    border-radius: 3px;
    color: var(--black);
    outline: none;
}

#descricao,
.form-container #content {
    resize: none;
}

.form-checkbox {
    display: flex;
    margin-bottom: 3%;
}

.checkbox {
    display: none;
}

.checkbox+label {
    position: relative;
    padding: 2px 0 0 30px;
    cursor: pointer;
    display: inline-block;
    color: var(--black);
}

.checkbox+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--azul-claro);
    background-color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.checkbox:checked+label:before {
    background-color: var(--azul-logo);
    border: 2px solid white;
}

.form-submit-button-post {
    width: fit-content;
    margin: 0 auto;
    border: 1px solid var(--azul-logo);
    padding: 0.25%;
    background-color: var(--white);
    border-radius: 5px;
    transition: background-color 1s;
}

.submit-button {
    background-color: #60a6c0;
    color: var(--white);
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0.4s;
}

.submit-button:hover,
.form-submit-button-post:hover {
    background-color: var(--azul-logo);
}

.livro-container {
    margin-bottom: 20px;
}

.livro-container-minhas-trocas {
    margin: 2%;
    width: 20%;
    height: 50%;
    display: inline-block;
    margin-bottom: 20px;
    border: 2px solid var(--azul-logo);
    padding: 10px;
    border-radius: 8px;
    background-color: var(--white);
}

.livro-link {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    text-decoration: none;
    display: block;
    background-color: var(--azul-logo);
    padding: 10px;
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.livro-content {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.livro-title {
    font-size: 14px;
    color: var(--white);
    text-align: center;
}

.livro-container div {
    display: flex;
}

.livro-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 5px;
}

.livro-descricao {
    margin: auto 0 auto 3%;
    color: var(--black);
}

.edit-button-div {
    width: 100%;
    height: 13%;
    padding: 10px;
    display: block;
    border-radius: 0 0 5px 5px;
    background-color: var(--azul-logo);
}

.edit-button {
    text-decoration: none;
    color: var(--azul-logo);
    background-color: var(--light-gray);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--azul-logo);
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-button:hover {
    background-color: var(--azul-logo);
    color: var(--white);
}

.community-menu {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--azul-logo);
}

.community-menu-li {
    list-style: none;
    text-align: center;
    padding: 2%;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}

.community-section {
    margin: 2%;
    width: 20%;
    height: 50%;
    display: none;
    margin-bottom: 20px;
    border: 2px solid var(--azul-logo);
    padding: 10px;
    border-radius: 8px;
    background-color: var(--white);
}

.section-active {
    display: inline-block;
}

.card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-decoration: none;
    display: block;
    background-color: var(--azul-logo);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.card__img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 5px;
}

.card__footer {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button {
    text-decoration: none;
    color: var(--azul-logo);
    background-color: var(--light-gray);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--azul-logo);
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button:hover {
    background-color: var(--azul-logo);
    color: var(--white);
}

.community-title {
    font-size: 14px;
    color: var(--white);
    text-align: center;
}

.dados-perfil {
    color: var(--black);
    margin: 5%;
}

.form-imagem-container {
    width: 80%;
    margin: 15px 0 0 5%;
}

.form-imagem-container div {
    display: flex;
    flex-direction: column;
}

.form-imagem-label {
    display: block;
    color: var(--black);
    margin: 0 0 5px 0;
    font-size: 14px;
}

.form-imagem-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 2px solid var(--azul-claro);
    border-radius: 3px;
    color: var(--black);
    outline: none;
}

.form-imagem-button {
    width: 69.97px;
    text-align: center;
    color: var(--black);
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid var(--azul-logo);
    background-color: var(--white);
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.form-imagem-button:hover {
    border: 1px solid transparent;
    background-color: var(--header-background);
}

.form-informacoes {
    width: 80%;
    margin: 20px 0 0 5%;
}

.form-group {
    margin-bottom: 15px;
}

.delete {
    width: 100px;
    margin: 0 auto;
    background-color: var(--white);
    color: var(--black);
    padding: 10px 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--vermelho);
    display: block;
    text-decoration: none;
    transition: background-color 1s;
}

.delete:hover {
    border: none;
    box-shadow: inset 0 0 3px rgb(59, 59, 59);
    background-color: var(--vermelho);
}

.container-suporte {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-suporte {
    width: 70%;
    height: 30%;
    margin: auto;
    display: block;
    border-radius: 5px;
    border: 2px solid var(--azul-logo);
    background-color: var(--azul-claro);
    text-align: center;
    position: relative;
}

.div-suporte h1 {
    color: var(--azul-logo);
    font-size: 20px;
    margin: 2% 1% 2% 0;
}

.div-suporte p {
    font-size: 12px;
}

.div-suporte ul {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: self-end;
}

.div-suporte i {
    font-size: 15px;
    background-color: var(--azul-claro);
    position: absolute;
    top: -12px;
    padding: 1.2%;
}

.div-suporte li {
    list-style: none;
    font-size: 12px;
    box-shadow: inset 0 0 3px var(--azul-logo);
    padding: 1%;
    position: relative;
    font-weight: 600;
}

.whatsapp {
    color: rgb(62, 194, 62);
}

.email {
    color: var(--vermelho);
}

.phone {
    color: rgb(174, 85, 212);
}

.button-delete {
    width: fit-content;
    margin: auto;
    border: 1px solid #d32f2f;
    padding: 0.2%;
    background-color: var(--white);
    border-radius: 5px;
    transition: background-color 1s;
}

.delete-button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0.4s;
}

.delete-button:hover,
.button-delete:hover {
    background-color: #d32f2f;
}

#section-user,
#section-book,
#section-communities {
    width: 90%;
    height: fit-content;
    margin: 2% 0 0 5.11%;
    border: none;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #60a6c0;
}

.users {
    width: 95%;
    height: 20%;
    margin: 0 auto 10px auto;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--white);
    display: flex;
}

.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text-user {
    margin: auto;
    font-size: 15px;
}


.membros-button {
    height: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.membros-button1,
.membros-button2 {
    margin-top: 16%;
    padding: 1% !important;
    letter-spacing: 1px;
}

.membros-button1 span,
.membros-button2 span {
    font-size: 10px;
}

.membros-button2 {
    margin-left: 10px !important;
    border-color: var(--azul-logo) !important;
}

.membros-button2 span {
    background-color: #60a6c0;
}

.membros-button2:hover,
.membros-button2 span:hover {
    background-color: var(--azul-logo) !important;
}

.active {
    color: var(--azul-logo);
}