<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Paginas</title>

    <script src="https://kit.fontawesome.com/949dcd6b8d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        (function (t, a, l, k, j, s) {
            s = a.createElement('script');
            s.async = 1;
            s.src = "https://cdn.talkjs.com/talk.js";
            a.head.appendChild(s);
            k = t.Promise; t.Talk = {
                v: 3, ready: {
                    then: function (f) {
                        if (k) return new k(function (r, e) { l.push([f, r, e]) });
                        l.push([f])
                    }, catch: function () { return k && new k() }, c: l
                }
            };
        })(window, document, []);
    </script>

    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/HeaderStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/ExchangeStyle.css}" />

    <script th:src="@{/static/js/HeaderScript.js}"></script>
    <script th:src="@{/static/js/SearchScript.js}"></script>
</head>

<body>
    <div th:replace="~{fragments/header/header :: header}"></div>
    <div
        th:replace="~{${#authorization.expression('isAuthenticated()') ? 'fragments/sidebar/sidebar-loggedin' : 'fragments/sidebar/sidebar-loggedout'}}">
    </div>



    <div class="troca-details">
        <div class="troca-images">
            <div class="image-container">
                <img id="mainImage" th:src="${troca.imagens[0].nome}" alt="" class="troca-image">

                <div class="imagens-troca">
                    <img onclick="changeMainImage(this.src)" th:each="imagem : ${troca.imagens}" class="imagens"
                        th:src="${imagem.nome}" alt="">
                </div>
            </div>
            <div class="troca-info">
                <div class="troca-title-div">
                    <p th:text="${troca.nome}" class="troca-title"></p>
                    <p th:text="'Descrição do livro: ' + ${troca.descricao}" class="troca-description"></p>
                </div>

                <div>
                    <p th:text="'Estado: ' + ${#strings.replace(troca.estado, '_', ' ')}" class="troca-location"></p>
                    <p th:text="'Tipo: ' + ${#strings.replace(troca.tipo, '_', ' ')}" class="troca-info-item"></p>
                </div>

                <div>
                    <p th:text="'Categoria: ' + ${#strings.replace(troca.categoria, '_', ' ')}" class="troca-info-item">
                    </p>
                </div>
            </div>
        </div>
        <div class="troca-user">
            <div class="user-info">
                <img th:src="${troca.usuario.imagem == null ? '/static/image/semImagem.png' : troca.usuario.imagem}"
                    alt="" class="user-image">

                <div>
                    <a href="">
                        <h4 th:text="${troca.usuario.login}" class="user-login"></h4>
                        <p th:text="${troca.usuario.email}" class="user-email"></p>
                    </a>
                </div>

                <div>
                    <p th:text="${troca.cidade} + ' - ' +  ${troca.estadoBrasil}" class="troca-location">
                    </p>
                </div>
            </div>


            <div class="troca-carousel">
                <div th:if="${books.size() > 0}" th:each="book : ${books}">
                    <a th:href="@{/book/trade/{id}(id=${book.id})}">
                        <div class="book">
                            <img th:src="${book.imagens[0].nome}" alt="icone da livro">
                            <div>
                                <h5 th:text="${book.nome}"></h5>
                                <div>
                                    <p th:text="${book.cidade}"></p>
                                    <p th:text="${book.estadoBrasil}"></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div style="display: none;" th:if="${#authorization.expression('isAuthenticated()')}">
        <input type="hidden" id="userDonoId" th:value="${troca.usuario.id}" />
        <input type="hidden" id="userDonoNome" th:value="${troca.usuario.login}" />
        <input type="hidden" id="userDonoImage"
            th:value="${troca.usuario.imagem == null ? '/static/image/semImagem.png' : troca.usuario.imagem}" />

        <input type="hidden" id="userId" th:value="${user.id}" />
        <input type="hidden" id="userName" th:value="${user.nome}" />
        <input type="hidden" id="userImage"
            th:value="${user.imagem == null ? '/static/image/semImagem.png' : user.imagem}" />
    </div>

    <div id="talkjs-container"></div>

    <script th:if="${#authorization.expression('isAuthenticated()')}">
        function changeMainImage(newSrc) {
            document.getElementById('mainImage').src = newSrc;
        }
        function startChat(user1Id, user1Name, user1image, user2Id, user2Name, user2Image) {
            Talk.ready.then(function () {
                var me = new Talk.User({
                    id: user2Id,
                    name: user2Name,
                    photoUrl: user2Image,
                });

                var other = new Talk.User({
                    id: user1Id,
                    name: user1Name,
                    photoUrl: user1image,
                });

                console.log(me);
                console.log(other);

                var session = new Talk.Session({
                    appId: 'tU6KX4gP',
                    me: me
                });

                var conversation = session.getOrCreateConversation(Talk.oneOnOneId(me, other));

                conversation.setParticipant(me);
                conversation.setParticipant(other);
                const popup = session.createPopup();
                popup.select(conversation);
                popup.mount({ show: false });

                const button = document.getElementById('btn-getInTouch');
                button.addEventListener('click', (event) => {
                    event.preventDefault();
                    popup.show();
                });

                var inbox = session.createInbox();
                inbox.select(conversation);
                inbox.mount(document.getElementById("talkjs-container"));
            });
        }

        $(document).ready(function () {
            var userDonoId = $('#userDonoId').val();
            var userDonoNome = $('#userDonoNome').val();
            var userDonoImage = $('#userDonoImage').val();

            var userId = $('#userId').val();
            var userName = $('#userName').val();
            var userImage = $('#userImage').val();

            startChat(userDonoId, userDonoNome, userDonoImage, userId, userName, userImage);
        });

    </script>

</body>

</html>