<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Paginas</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/949dcd6b8d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/IndexStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/HeaderStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/CommunityStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PostStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PerfilStyle.css}" />

    <script th:src="@{/static/js/HeaderScript.js}"></script>
    <script th:src="@{/static/js/ModalScript.js}"></script>
    <script th:src="@{/static/js/SearchScript.js}"></script>
    <script th:src="@{/static/js/CarouselScript.js}"></script>

</head>

<body>
    <div th:replace="~{fragments/header/header :: header}"></div>


    <div class="perfil">
        <div class="perfil-principal" style="margin-right: 0;">
            <div
                th:replace="~{${#authorization.expression('isAuthenticated()') ? 'fragments/sidebar/sidebar-loggedin' : 'fragments/sidebar/sidebar-loggedout'}}">
            </div>
        </div>
        <div class="perfil-right">
            <div class="forum-community-perfil">
                <h1 class="community-title-perfil" th:text="${community.title}"></h1>

                <div class="community-perfil">
                    <div class="community-icon-perfil">
                        <img class="icon-img" th:if="${community.icone == null}" src="/static/image/semImagem.png"
                            alt="Icone da comunidade">
                        <img class="icon-img" th:if="${community.icone != null}" th:src="${community.icone}"
                            alt="Icone da comunidade">
                    </div>

                    <div class="community-content-perfil">
                        <p th:text="${community.content}"></p>
                    </div>

                    <div class="community-infos-perfil">
                        <p th:text="${#dates.format(community.date, 'dd/MM/yyyy')}"></p>
                        <div>
                            <p th:text="${community.privado == true} ? 'Privada' : ''"></p>
                            <input type="checkbox" th:checked="${community.privado == true}" disabled>
                        </div>
                    </div>
                </div>
                <div class="community-menu">
                    <ul>
                        <li class="li-postagem">Criar Postagem</li>
                        <li class="li-config">Editar Informações</li>
                     </ul>
                </div>
            </div>
            <div class="configuracoes" id="configuracoes">

                <form method='post' encType='multipart/form-data' id="icone">
                    <div>
                        <div>
                            <label htmlFor="icone" class="forms-informacoes-groupFile-div_label">
                                Icone da Comunidade
                            </label>
                        </div>
                        <input type="hidden" th:value="${community.id}" class="communityId">
                        <input type="file" id="icone" name="icone" accept="image/*" />
                    </div>
                    <button type="submit" class="forms-informacoes_button">
                        Salvar
                    </button>
                </form>

                <form class="custom-form">
                    <label class="form-label">
                        Título:
                        <input type="text" name="title" class="form-input" required />
                    </label>
                    <label class="form-label">
                        Conteúdo:
                        <textarea name="content" class="form-input" required></textarea>
                    </label>
                    <label class="form-label">
                        <div class="form-checkbox">
                            <input class="checkbox" type="checkbox" id="privado" name="privado" th:value="${privado}" />
                            <label for="privado">Privado</label>
                        </div>
                    </label>
                    <button type="submit" class="form-submit-button">Salvar Alterações</button>
                </form>

                <button>
                    <a th:href="@{/community/delete/{id}(id=${community.id})}" class="delete-button">
                        Deletar Comunidade
                    </a>
                </button>
            </div>

            <div class="post-form" th:if="${#authorization.expression('isAuthenticated()')}">
                <h1 class="form-title">Formulário de Post</h1>
                <form th:action="@{/posts/create/{communityId}/{userId}(communityId=*{community.id},userId=*{user.id})}"
                    method="post" enctype="multipart/form-data">

                    <label class="form-label-post" for="title">Título:</label>
                    <input class="form-input-post" type="text" id="title" name="title" required>
                    <br>

                    <label class="form-label-post" for="content">Conteúdo:</label>
                    <textarea class="form-textarea" id="content" name="content" required></textarea>
                    <br>

                    <label class="form-label-post form-file" for="image"></label>
                    <input class="form-input-post" type="file" id="imagem" name="imagem" accept="image/*">

                    <input class="form-submit-button-post" type="submit" value="Enviar">
                </form>
            </div>

            <div class="post-form" th:if="${#authorization.expression('!isAuthenticated()')}">
                <p>Já possui uma conta?
                    <a th:href="@{/login}">Faça login</a>
                </p>
                <p>Ainda não tem conta?
                    <a th:href="@{/user/register}">Cadastre-se</a>
                </p>
            </div>

            <div class="post-community">
                <div th:replace="~{fragments/posts/posts :: post}"></div>
                <span sec:authentication="name" style="display: none;" id="userLogin"></span>

                <div th:replace="~{fragments/posts/posts :: modalPost}"></div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const configuracoesDiv = document.getElementById("configuracoes");
            const perfilConfigSpan = document.querySelector(".li-config");
            const postagem = document.querySelector(".li-postagem");
            const postagemForm = document.querySelector(".post-form");

            perfilConfigSpan.addEventListener("click", function () {
                configuracoesDiv.classList.toggle("visible");
            });

            postagem.addEventListener("click", function () {
                postagemForm.classList.toggle("visible");
            });
        });
    </script>

    <script>
        const form = document.getElementById("icone");
        const communityId = document.querySelector(".communityId").value;

        form.addEventListener("submit", async (event) => {
            event.preventDefault();

            const formData = new FormData(form);

            try {
                const response = await fetch(`/community/icone/${communityId}`, {
                    method: "POST",
                    body: formData
                });

                if (response.ok) {
                    const result = await response.json();
                    if (result === "Success") {
                        window.location.reload();
                    }
                }
            } catch (error) {
                console.error(error);
            }
        });
    </script>

</body>

</html>