<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Paginas</title>
    <link rel="icon" th:href="@{/static/image/Favicon.png}" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/949dcd6b8d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/IndexStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/HeaderStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/CommunityStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PostStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PerfilStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/MembersStyle.css}" />

    <script th:src="@{/static/js/HeaderScript.js}"></script>
    <script th:src="@{/static/js/ModalScript.js}"></script>
    <script th:src="@{/static/js/SearchScript.js}"></script>
    <script th:src="@{/static/js/CarouselScript.js}"></script>

</head>

<body>
    <div th:replace="~{fragments/header/header :: header}"></div>


    <div class="perfil">
        <div class="perfil-principal" style="margin-right: 0;">
            <div
                th:replace="~{${#authorization.expression('isAuthenticated()') ? 'fragments/sidebar/sidebar-loggedin' : 'fragments/sidebar/sidebar-loggedout'}}">
            </div>
        </div>
        <div class="perfil-right">
            <div class="forum-community-perfil">
                <div class="community-perfil">
                    <div class="community-icon-perfil">
                        <img class="icon-img"
                            th:if="${community == null and community.icone == null and community.icone.trim() == ''}"
                            src="/static/image/semImagem.png" alt="Icone da comunidade">
                        <img class="icon-img"
                            th:if="${community != null or community.icone != null or community.icone.trim() != ''}"
                            th:src="${community.icone}" alt="Icone da comunidade">
                    </div>

                    <div class="community-content-perfil">
                        <p th:text="${community.title}"></p>
                    </div>

                    <div class="community-infos-perfil">
                        <form th:action="@{/members/addMember}" method="post" th:if="${!isMember}">
                            <input type="hidden" th:value="${user.id}" name="userId" />
                            <input type="hidden" th:value="${community.id}" name="communityId" />
                            <button type="submit" class="entrar">Entrar na Comunidade</button>
                        </form>

                        <form
                            th:action="@{/community/admin/delete/{communityId}/{memberId}(communityId=${community.id}, memberId=${membro.id})}"
                            method="get" th:if="${isMember}">
                            <button type="submit" class="entrar">Sair</button>
                        </form>

                        <div th:if="${message}" class="alert alert-success" id="successMessage">
                            <p th:text="${message}"></p>
                        </div>

                        <p th:text="${#dates.format(community.date, 'dd/MM/yyyy')}"></p>
                        <!-- <div>
                            <p th:text="${community.privado == true} ? 'Privada' : ''"></p>
                            <label>
                                <input type="checkbox" th:checked="${community.privado == true}" disabled>
                            </label>
                        </div> -->

                    </div>

                </div>
                <div class="community-menu">
                    <ul>
                        <li class="li-postagem">Criar Postagem</li>
                        <li class="li-config">Editar Informações</li>
                        <li class="li-members">Membros</li>
                        <li class="li-posts">Posts</li>
                        <li class="li-sobre">Sobre</li>
                    </ul>
                </div>

                <div class="configuracoes" id="configuracoes">
                    <form class="custom-form" th:action="@{/community/icone/{id}(id=${community.id})}" method="post"
                        enctype="multipart/form-data" id="icone">
                        <div id="div-icone">
                            <label class="form-label" for="title">Icone:</label>
                            <input type="hidden" th:value="${community.id}" class="communityId">
                            <input class="form-input" type="file" id="icone" name="icone" accept="image/*" />
                        </div>
                        <button class="form-submit-button-post" type="submit">
                            <span class="submit-button">
                                Salvar
                            </span>
                        </button>
                    </form>


                    <!-- <form th:action="@{/community/update/{id}(id=${community.id})}"
                        th:object="${updateCommunityRequest}" class="custom-form" method="post">
                        <div>
                            <label class="form-label" for="title">Título:</label>
                            <input type="text" name="title" id="title" class="form-input" th:value="${community.title}"
                                th:field="*{title}" required />
                        </div>
                        <div>
                            <label class="form-label" for="content">Conteúdo:</label>
                            <textarea name="content" id="content" class="form-input" th:field="*{content}" required>

                            </textarea>
                        </div>

                         <label class="form-label">
                            <div class="form-checkbox">
                                <input class="checkbox" type="checkbox" id="privado" name="privado"
                                    th:value="${privado}" />
                                <label for="privado">Privado</label>
                            </div>
                        </label>
                        <button class="form-submit-button-post" type="submit">
                            <span class="submit-button">Salvar</span>
                        </button>
                    </form> -->

                    <form class="form-container" th:action="@{/community/update}" method="post"
                        enctype="multipart/form-data">

                        <input type="hidden" th:value="${community.id}" name="communityId" id="communityId">

                        <div>
                            <label class="form-label" for="title">Título:</label>
                            <input type="text" name="title" id="title" class="form-input"
                                th:value="${updateCommunityRequest.title}" required />
                        </div>

                        <div>
                            <label class="form-label" for="content">Conteúdo:</label>
                            <input type="text" name="content" id="content" class="form-input" rows="4" maxlength="500"
                                th:value="${updateCommunityRequest.content}" required>
                        </div>

                        <button class="form-submit-button-post" type="submit">
                            <span class="submit-button">Salvar</span>
                        </button>
                    </form>

                    <button class="button-delete">
                        <a th:href="@{/community/delete/{id}(id=${community.id})}" class="delete-button">
                            Deletar Comunidade
                        </a>
                    </button>
                    <span id="border"></span>

                </div>

                <div class="post-form" th:if="${#authorization.expression('isAuthenticated()')}">
                    <form
                        th:action="@{/posts/create/{communityId}/{userId}(communityId=*{community.id},userId=*{user.id})}"
                        method="post" enctype="multipart/form-data">

                        <div class="form-div">
                            <label class="form-label-post" for="title">Título:</label>
                            <input class="form-input-post" type="text" id="title" name="title" required>
                        </div>
                        <br>
                        <div class="form-div">
                            <label class="form-label-post" for="content">Conteúdo:</label>
                            <textarea class="form-input-post" id="content" name="content" required></textarea>
                        </div>
                        <br>
                        <div class="form-div">
                            <input class="form-input-post" type="file" id="imagem" name="imagem" accept="image/*">
                        </div>

                        <button class="form-submit-button-post" type="submit">
                            <span class="submit-button">
                                Enviar
                            </span>
                        </button>

                    </form>

                    <span id="border"></span>
                </div>

                <div class="post-form" th:if="${#authorization.expression('!isAuthenticated()')}">
                    <p>Já possui uma conta?
                        <a th:href="@{/login}">Faça login</a>
                    </p>
                    <p>Ainda não tem conta?
                        <a th:href="@{/user/register}">Cadastre-se</a>
                    </p>

                    <span id="border"></span>
                </div>

                <div class="div-sobre">
                    <div class="community-content-perfil">
                        <p th:text="${community.content}"></p>
                    </div>

                    <span id="border"></span>
                </div>

                <div class="post-community visible">
                    <div th:replace="~{fragments/posts/posts :: post}"></div>
                    <span sec:authentication="name" style="display: none;" id="userLogin"></span>
                </div>

                <div class="membros-comunidade">
                    <div class="membros" th:each="membros : ${community.membros}">
                        <img th:if="${membros.usuario != null and membros.usuario.imagem != null and membros.usuario.imagem.trim() != ''}"
                            th:src="${membros.usuario.imagem}" alt="Usuário ${membros.usuario.nome}"
                            class="membros-img" />
                        <img th:if="${membros.usuario == null or membros.usuario.imagem == null or membros.usuario.imagem.trim() == ''}"
                            src="/static/image/semImagem.png" alt="Usuário ${membros.usuario.nome}"
                            class="membros-img" />

                        <a th:href="@{/perfilVisitante/{userName}(userName=${membros.usuario.login})}"
                            th:text="${membros.usuario.nome}" class="membros-nome"></a>
                        <p th:text="${membros.roleCommunity.papel}" class="membros-papel"></p>
                        <div th:each="membros2 : ${user.membros}">
                            <div class="membros-button"
                                th:if="${membros2.community.title == community.title and membros2.roleCommunity.papel != 'USER'}">
                                <a th:href="@{/community/admin/delete/{communityId}/{memberId}(communityId=${membros.community.id}, memberId=${membros.id})}"
                                    class="button-delete membros-button1"
                                    th:if="${membros.roleCommunity.papel != 'ADMIN'}">
                                    <span class="delete-button">
                                        Deletar
                                    </span>
                                </a>
                                <button class="button-delete membros-button2 load-roles-btn"
                                    th:if="${membros.roleCommunity.papel != 'ADMIN'}">
                                    <span class="delete-button">
                                        Papel
                                    </span>
                                </button>
                                <!-- O Modal -->
                                <div class="roles-modal modal">
                                    <div class="modal-content-papel">
                                        <span class="close-btn">&times;</span>
                                        <h2>Altere o Papel do usuario na comunidade:</h2>
                                        <form th:action="@{/members/update-member-authorities}" method="post"
                                            id="roles-form">
                                            <!-- Campo oculto para memberId -->
                                            <input type="text" name="memberId" th:value="${membros.id}" />

                                            <!-- Campo oculto para newCommunityRole -->
                                            <input type="text" name="newCommunityRole" id="hiddenRole" />

                                            <label class="form-label">
                                                <div class="form-checkbox">
                                                    <input class="checkbox" type="radio" id="admin" name="roles"
                                                        value="ADMIN" onchange="updateHiddenRole('ADMIN')" />
                                                    <label for="admin">ADMIN</label>
                                                </div>
                                            </label>
                                            <label class="form-label">
                                                <div class="form-checkbox">
                                                    <input class="checkbox" type="radio" id="moderator" name="roles"
                                                        value="MODERATOR" onchange="updateHiddenRole('MODERATOR')" />
                                                    <label for="moderator">MODERATOR</label>
                                                </div>
                                            </label>
                                            <label class="form-label">
                                                <div class="form-checkbox">
                                                    <input class="checkbox" type="radio" id="user" name="roles"
                                                        value="USER" onchange="updateHiddenRole('USER')" />
                                                    <label for="user">USER</label>
                                                </div>
                                            </label>
                                            <button class="form-submit-button-post" type="submit">
                                                <span class="submit-button">
                                                    Enviar
                                                </span>
                                            </button>

                                            <script>
                                                function updateHiddenRole(role) {
                                                    document.getElementById('hiddenRole').value = role;
                                                }
                                            </script>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div th:replace="~{fragments/posts/posts :: modalPost}"></div>

        <script>
            $(document).ready(function () {
                $('.likeBtn').on('click', function () {
                    let postId = $(this).siblings('input').val(); // Obtém o ID do post
                    let likesCountSpan = $(this).siblings('.likesCount'); // Obtém o contador de likes do post correspondente

                    $.ajax({
                        url: `/posts/likes/${postId}`,
                        type: 'POST',
                        data: { action: 'like' },
                        success: function (response) {
                            likesCountSpan.text(response); // Atualiza o contador de likes do post correto
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            if (jqXHR.status === 401) {
                                alert('You must be logged in to vote.');
                            } else if (jqXHR.status === 409) {
                                alert('You have already voted on this post.');
                            } else {
                                console.error('Error: ', textStatus, errorThrown);
                                alert('An error occurred while processing your request.');
                            }
                        }
                    });
                });
            });

        </script>

        <script>
            window.onload = function () {
                var messageDiv = document.getElementById("successMessage");
                if (messageDiv) {
                    setTimeout(function () {
                        messageDiv.style.display = 'none';
                    }, 5000);
                }
            };
        </script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const configuracoesDiv = document.getElementById("configuracoes");
                const perfilConfigSpan = document.querySelector(".li-config");
                const postagem = document.querySelector(".li-postagem");
                const postagemForm = document.querySelector(".post-form");
                const memberListDiv = document.querySelector(".membros-comunidade");
                const manageMembersBtn = document.querySelector(".li-members");
                const sobreComunidade = document.querySelector(".li-sobre");
                const sobre = document.querySelector(".div-sobre");
                const postcommunity = document.querySelector(".post-community");
                const lipost = document.querySelector(".li-posts");


                lipost.addEventListener("click", function () {
                    postcommunity.classList.add("visible");

                    if (postagemForm.classList.contains("visible")) {
                        postagemForm.classList.remove("visible");
                    } else if (configuracoesDiv.classList.contains("visible")) {
                        configuracoesDiv.classList.remove("visible");
                    } else if (sobre.classList.contains("visible")) {
                        sobre.classList.remove("visible");
                    } else if (memberListDiv.classList.contains("visible")) {
                        memberListDiv.classList.remove("visible");
                    }
                });

                manageMembersBtn.addEventListener("click", function () {
                    memberListDiv.classList.add("visible");

                    if (postagemForm.classList.contains("visible")) {
                        postagemForm.classList.remove("visible");
                    } else if (configuracoesDiv.classList.contains("visible")) {
                        configuracoesDiv.classList.remove("visible");
                    } else if (sobre.classList.contains("visible")) {
                        sobre.classList.remove("visible");
                    } else if (postcommunity.classList.contains("visible")) {
                        postcommunity.classList.remove("visible");
                    }
                });

                perfilConfigSpan.addEventListener("click", function () {
                    configuracoesDiv.classList.add("visible");

                    if (postagemForm.classList.contains("visible")) {
                        postagemForm.classList.remove("visible");
                    } else if (sobre.classList.contains("visible")) {
                        sobre.classList.remove("visible");
                    } else if (memberListDiv.classList.contains("visible")) {
                        memberListDiv.classList.remove("visible");
                    } else if (postcommunity.classList.contains("visible")) {
                        postcommunity.classList.remove("visible");
                    }
                });

                postagem.addEventListener("click", function () {
                    postagemForm.classList.add("visible");

                    if (configuracoesDiv.classList.contains("visible")) {
                        configuracoesDiv.classList.remove("visible");
                    } else if (sobre.classList.contains("visible")) {
                        sobre.classList.remove("visible");
                    } else if (memberListDiv.classList.contains("visible")) {
                        memberListDiv.classList.remove("visible");
                    } else if (postcommunity.classList.contains("visible")) {
                        postcommunity.classList.remove("visible");
                    }
                });

                sobreComunidade.addEventListener("click", function () {
                    sobre.classList.add("visible");

                    if (postagemForm.classList.contains("visible")) {
                        postagemForm.classList.remove("visible");
                    } else if (configuracoesDiv.classList.contains("visible")) {
                        configuracoesDiv.classList.remove("visible");
                    } else if (memberListDiv.classList.contains("visible")) {
                        memberListDiv.classList.remove("visible");
                    } else if (postcommunity.classList.contains("visible")) {
                        postcommunity.classList.remove("visible");
                    }
                });

                //         manageMembersBtn.addEventListener("click", async function () {
                //             if (memberListDiv.style.display === "none") {
                //                 // Exibir a lista de membros
                //                 memberListDiv.style.display = "block";
                //                 const communityId = document.querySelector(".communityId").value;
                //                 try {
                //                     const response = await fetch(`/members/list-members/${communityId}`);
                //                     if (response.ok) {
                //                         const members = await response.json();
                //                         // Atualiza o conteúdo da div com os membros obtidos
                //                         memberListDiv.innerHTML = `
                //                 <ul>
                //                     ${members.map(member => `
                //                         <li>
                //                             <strong>ID do Membro:</strong> ${member.memberId}<br>
                //                             <strong>ID do Usuário:</strong> ${member.userId}<br>
                //                             <strong>Papel na Comunidade:</strong> ${member.communityRole}
                //                         </li>
                //                     `).join('')}
                //                 </ul>
                //             `;
                //                     } else {
                //                         console.error('Erro ao buscar membros:', response.statusText);
                //                     }
                //                 } catch (error) {
                //                     console.error('Erro ao buscar membros:', error);
                //                 }
                //             } else {
                //                 // Ocultar a lista de membros
                //                 memberListDiv.style.display = "none";
                //             }
                //         });

            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var modals = document.querySelectorAll('.roles-modal');
                var openBtns = document.querySelectorAll('.load-roles-btn');
                var closeBtns = document.querySelectorAll('.close-btn');

                openBtns.forEach(function (btn) {
                    btn.addEventListener('click', function () {
                        var modal = this.closest('.membros-button').querySelector('.roles-modal');
                        modal.style.display = 'block';
                    });
                });

                closeBtns.forEach(function (btn) {
                    btn.addEventListener('click', function () {
                        var modal = this.closest('.roles-modal');
                        modal.style.display = 'none';
                    });
                });

                window.addEventListener('click', function (event) {
                    modals.forEach(function (modal) {
                        if (event.target === modal) {
                            modal.style.display = 'none';
                        }
                    });
                });
            });

        </script>

        <!-- <script>
            const form = document.getElementById("icone"); // Make sure an element with id="icone" exists
            const communityId = document.querySelector(".communityId").value;

            form.addEventListener("submit", async (event) => {
                event.preventDefault();

                const formData = new FormData(form);

                try {
                    const response = await fetch(/community/icone / ${ communityId }, {
                        method: "POST",
                        body: formData
                    });

                    if (response.ok) {
                        const result = await response.json();
                        if (result === "Success") {
                            window.location.reload();
                        }
                    }
                } catch (error) {
                    console.error(error);
                }
            });
        </script> -->
</body>

</html>