<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Paginas</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/IndexStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/HeaderStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PostStyle.css}" />

    <script src="https://kit.fontawesome.com/949dcd6b8d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header th:replace="~{fragments/header/header :: header}"></header>
    <aside
        th:replace="~{${#authorization.expression('isAuthenticated()') ? 'fragments/sidebar/sidebar-loggedin' : 'fragments/sidebar/sidebar-loggedout'}}">
    </aside>

    <main class="container">
        <section>
            <h5 class="titulo-trocar">Livros para tocar</h5>
            <div class="container-livros">
                <div th:if="${books.size() > 0}" th:each="book : ${books}">
                    <a th:href="@{/book/trade/{id}(id=${book.id})}">
                        <div class="book">
                            <img th:src="${book.imagens[0].nome}" alt="icone do livro">
                            <div>
                                <h5 th:text="${book.nome}"></h5>
                                <div>
                                    <p th:text="${book.cidade}"></p>
                                    <p>-</p>
                                    <p th:text="${book.estadoBrasil}"></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section>
            <h5 class="titulo-comunidades">Comunidades</h5>
            <div class="container-comunidades">
                <div th:if="${comunidades.size() > 0}" th:each="comunidade : ${comunidades}">
                    <a th:href="@{/community/{id}(id=${comunidade.id})}">
                        <div class="comunidade">
                            <img th:src="${comunidade.icone == null ? '/static/image/semImagem.png' : comunidade.icone}"
                                alt="icone da comunidade">
                        </div>
                        <div class="comunidade-verso hide">
                            <h2 th:text="${comunidade.title}"></h2>
                            <h2>membros: 1</h2>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <div th:replace="~{fragments/posts/posts :: post}"></div>
    </main>

    <span sec:authentication="name" style="display: none;" id="userLogin"></span>

    <div th:replace="~{fragments/posts/posts :: modalPost}"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script th:src="@{/static/js/HeaderScript.js}"></script>
    <script th:src="@{/static/js/ModalScript.js}"></script>
    <script th:src="@{/static/js/SearchScript.js}"></script>
    <script th:src="@{/static/js/CarouselScript.js}"></script>

    <script>
        $(document).ready(function () {
            $('.likeBtn').on('click', function () {
                let postId = $(this).siblings('.postId').val();
                let button = $(this);
                console.log("Like button clicked for post ID:", postId);

                $.ajax({
                    url: `/posts/like/${postId}`,
                    type: 'POST',
                    success: function (response) {
                        console.log("Successful like response:", response);
                        let likesCountElement = button.closest('.up').find('.likesCount');
                        console.log("Updating likes count for element:", likesCountElement);
                        likesCountElement.text(response); // Assuming response is the new like count
                        console.log("Updated likes count to:", likesCountElement.text());
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error: ', textStatus, errorThrown);
                        alert('An error occurred while processing your request.');
                    }
                });
            });

            $('.dislikeBtn').on('click', function () {
                let postId = $(this).siblings('.postId').val();
                let button = $(this);
                console.log("Dislike button clicked for post ID:", postId);

                $.ajax({
                    url: `/posts/dislike/${postId}`,
                    type: 'POST',
                    success: function (response) {
                        console.log("Successful dislike response:", response);
                        let likesCountElement = button.closest('.up').find('.likesCount');
                        console.log("Updating likes count for element:", likesCountElement);
                        likesCountElement.text(response); // Assuming response is the new like count
                        console.log("Updated likes count to:", likesCountElement.text());
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error: ', textStatus, errorThrown);
                        alert('An error occurred while processing your request.');
                    }
                });
            });
        });

    </script>
</body>

</html>