<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Paginas</title>

    <script src="https://kit.fontawesome.com/949dcd6b8d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/IndexStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/HeaderStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PerfilStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PostStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/VisitorStyle.css}" />

    <script th:src="@{/static/js/HeaderScript.js}"></script>
    <script th:src="@{/static/js/ModalScript.js}"></script>
    <script th:src="@{/static/js/SearchScript.js}"></script>
    <script th:src="@{/static/js/CarouselScript.js}"></script>

</head>

<body>

    <div th:replace="~{fragments/header/header :: header}"></div>

    <div class="perfil">
        <div class="perfil-principal">
            <div
                th:replace="~{${#authorization.expression('isAuthenticated()') ? 'fragments/sidebar/sidebar-loggedin' : 'fragments/sidebar/sidebar-loggedout'}}">
            </div>
        </div>
        <div class="perfil-right">
            <div class="profile-container">
                <div class="profile-header">
                    <img src="https://via.placeholder.com/150" alt="Foto de perfil" class="profile-image">
                    <h1 class="username" th:text="${perfilVisitante.nome}"></h1>
                </div>

                <div class="profile-details">
                    <ul class="profile-info">
                        <li><strong>Email:</strong> <span th:text="${perfilVisitante.email}"></span></li>
                        <li><strong>Localização:</strong> <span th:text="${perfilVisitante.cidade}"></span></li>
                        <li><strong>Website:</strong> <a href="#">meusite.com</a></li>
                    </ul>
                </div>

                <div class="profile-social">
                    <h2>Conecte-se comigo:</h2>
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">LinkedIn</a></li>
                        <li><a href="#">GitHub</a></li>
                    </ul>
                </div>
            </div>

            <!-- 
            <p>Bem-vindo, <span sec:authentication="name"></span>!</p>


            <p th:text="${perfilVisitante.nome}"></p>
            <p th:text="${perfilVisitante.id}"></p>
            <p th:text="${perfilVisitante.email}"></p>

            <div th:each="livro : ${books}">
                <p th:text="${livro.nome}"></p>
            </div>

            <div th:each="comunidade : ${communities}">
                <p th:text="${comunidade.title}"></p>
            </div>
        </div>
    </div>
    <span sec:authentication="name" style="display: none;" id="userLogin"></span>

    <div th:replace="~{fragments/posts/posts :: modalPost}"></div>


 -->


            <!-- 
    <span sec:authentication="name" style="display: none;" id="userLogin"></span>

    <div class="perfil">
        <div class="perfil-principal">
            <div th:replace="~{fragments/menu/menu :: menu}"></div>
        </div>
        <div class="perfil-right">
            <h5>Livros para tocar</h5>
            <div class="container-livros">
                <div th:if="${books.size() > 0}" th:each="book : ${books}">
                    <div class="book">
                        <img th:src="${book.imagens[0].url}" alt="icone da livro" style="width: 100px;">
                        <div>
                            <h5 th:text="${book.nome}"></h5>
                            <div>
                                <p th:text="${book.cidade}"></p>
                                <p>-</p>
                                <p th:text="${book.estadoBrasil}"></p>
                            </div>
                            <p th:text="${book.descricao}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/posts/posts :: post}"></div>
        </div>
    </div> -->

            <div th:replace="~{fragments/posts/posts :: modalPost}"></div>


            <script>
                $(document).ready(function () {
                    // Function to load cities based on selected estadoBrasil
                    $('#estadoBrasil').change(function () {
                        var estadoSelecionado = $(this).val();
                        $.ajax({
                            url: 'https://servicodados.ibge.gov.br/api/v1/localidades/estados/' + estadoSelecionado + '/municipios',
                            type: 'GET',
                            success: function (data) {
                                $('#cidade').empty(); // Limpa as opções anteriores
                                $.each(data, function (index, cidade) {
                                    $('#cidade').append('<option value="' + cidade.nome + '">' + cidade.nome + '</option>');
                                });
                            },
                            error: function (error) {
                                console.log('Erro ao carregar cidades:', error);
                            }
                        });
                    });

                    // Load cities if a estadoBrasil is already selected
                    var selectedEstadoBrasil = $('#estadoBrasil').val();
                    if (selectedEstadoBrasil) {
                        $('#estadoBrasil').trigger('change');
                    }
                });
            </script>

</body>

</html>