<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Paginas</title>

    <script src="https://kit.fontawesome.com/949dcd6b8d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/IndexStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/HeaderStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PerfilStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PostStyle.css}" />

    <script th:src="@{/static/js/HeaderScript.js}"></script>
    <script th:src="@{/static/js/ModalScript.js}"></script>
    <script th:src="@{/static/js/SearchScript.js}"></script>
    <script th:src="@{/static/js/CarouselScript.js}"></script>

</head>

<body>
    <div th:replace="~{fragments/header/header :: header}"></div>

    <span sec:authentication="name" style="display: none;" id="userLogin"></span>

    <div class="perfil">
        <div class="perfil-principal">
            <div th:replace="~{fragments/menu/menu :: menu}"></div>
        </div>
        <div class="perfil-right">
            <h5>Livros para tocar</h5>
            <div class="container-livros">
                <div th:if="${books.size() > 0}" th:each="book : ${books}">
                    <div class="book">
                        <img th:src="${book.imagens[0].nome}" alt="icone da livro" style="width: 100px;">
                        <div>
                            <h5 th:text="${book.nome}"></h5>
                            <div>
                                <p th:text="${book.cidade}"></p>
                                <p>-</p>
                                <p th:text="${book.estadoBrasil}"></p>
                            </div>
                            <p th:text="${book.descricao}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/posts/posts :: post}"></div>
        </div>
    </div>

    <div th:replace="~{fragments/posts/posts :: modalPost}"></div>

</body>

</html>