<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Paginas</title>
    <link rel="icon" th:href="@{/static/image/Favicon.png}" type="image/x-icon">

    <script src="https://kit.fontawesome.com/949dcd6b8d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/IndexStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/HeaderStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PostStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PerfilStyle.css}" />
    <script th:src="@{/static/js/HeaderScript.js}"></script>
    <script th:src="@{/static/js/ModalScript.js}"></script>
    <script th:src="@{/static/js/SearchScript.js}"></script>
    <script th:src="@{/static/js/CarouselScript.js}"></script>
</head>

<body>

    <div th:replace="~{fragments/header/Header :: header}"></div>

    <div class="perfil">
        <div class="perfil-principal">
            <div
                th:replace="~{${#authorization.expression('isAuthenticated()') ? 'fragments/sidebar/sidebar-loggedin' : 'fragments/sidebar/sidebar-loggedout'}}">
            </div>
        </div>
        <div class="perfil-right">
            <ul class="community-menu">
                <li class="community-menu-li active minhas_comunidades">Usuários</li>
                <li class="community-menu-li moderador_comunidades">Livros</li>
                <li class="community-menu-li participo_comunidades">Comunidades</li>
            </ul>

            <div id="section-user" class="community-section section-active minhas_comunidades">
                <div th:each="user : ${users}" class="users">
                    <img th:if="${user != null and user.imagem != null and user.imagem.trim() != ''}"
                        th:src="${user.imagem}" alt="Usuário ${user.nome}" class="user-img" />
                    <img th:if="${user == null or user.imagem == null or user.imagem.trim() == ''}"
                        src="/static/image/semImagem.png" alt="Usuário ${user.nome}" class="user-img" />
                    <p th:text="${user.login}" class="text-user"></p>
                    <p th:text="${user.nome}" class="text-user"></p>


                    <div class="membros-button">
                        <a th:href="@{/user/admin/delete/{id}(id=${user.id})}" class="button-delete membros-button1">
                            <span class="delete-button">
                                Deletar
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div id="section-book" class="community-section moderador_comunidades">
                <div th:each="book : ${books}" class="users">
                    <img th:if="${book != null and book.imagens[0].url != null and book.imagens[0].url.trim() != ''}"
                        th:src="${book.imagens[0].url}" alt="book ${book.nome}" class="user-img" />
                    <img th:if="${book == null or book.imagens[0].url == null or book.imagens[0].url.trim() == ''}"
                        src="/static/image/semImagem.png" alt="book ${book.nome}" class="user-img" />
                    <p th:text="${book.nome}" class="text-user"></p>
                    <p th:text="${book.usuario.nome}" class="text-user"></p>

                    <div class="membros-button">
                        <a th:href="@{/book/delete/{id}(id=${book.id})}" class="button-delete membros-button1">
                            <span class="delete-button">
                                Deletar
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div id="section-communities" class="community-section participo_comunidades">
                <div th:each="community : ${communities}" class="users">
                    <img th:if="${community != null and community.icone != null and community.icone.trim() != ''}"
                        th:src="${community.icone}" alt="Community ${community.title}" class="user-img" />
                    <img th:if="${community == null or community.icone == null or community.icone.trim() == ''}"
                        src="/static/image/semImagem.png" alt="Community ${community.title}" class="user-img" />
                    <p th:text="${community.title}" class="text-user"></p>


                    <div class="membros-button">
                        <a th:href="@{/community/admin/delete/{id}(id=${community.id})}"
                            class="button-delete membros-button1">
                            <span class="delete-button">
                                Deletar
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('.community-menu-li').click(function () {
                    $('.community-section').removeClass('section-active');
                    $('.community-menu-li').removeClass('active');
                    var classToActivate = $(this).attr('class').split(' ')[1];
                    $('.' + classToActivate).addClass('section-active');
                    $(this).addClass('active');
                });
            });
        </script>
</body>

</html>