<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Paginas</title>
    <link rel="icon" th:href="@{/static/image/Favicon.png}" type="image/x-icon">

    <script src="https://kit.fontawesome.com/949dcd6b8d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/IndexStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/HeaderStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PostStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PerfilStyle.css}" />
    <script th:src="@{/static/js/HeaderScript.js}"></script>
    <script th:src="@{/static/js/ModalScript.js}"></script>
    <script th:src="@{/static/js/SearchScript.js}"></script>
    <script th:src="@{/static/js/CarouselScript.js}"></script>
</head>

<body>

    <div th:replace="~{fragments/header/header :: header}"></div>

    <div class="perfil">
        <div class="perfil-principal">
            <div
                th:replace="~{${#authorization.expression('isAuthenticated()') ? 'fragments/sidebar/sidebar-loggedin' : 'fragments/sidebar/sidebar-loggedout'}}">
            </div>
        </div>
        <div class="perfil-right">
            <ul class="community-menu">
                <li class="community-menu-li active minhas_comunidades">Usuários</li>
                <li class="community-menu-li moderador_comunidades">Comunidades</li>
            </ul>

            <div class="community-section section-active minhas_comunidades" th:each="user : ${users}">

                <p th:text="${user.nome}"></p>

                <!-- <div class="card">
                    <div class="card__footer">
                        <span class="community-title" th:text="${community.title}"></span>
                    </div>
                    <div>
                        <a th:href="@{'/community/' + ${community.id}}" class="card-button">Editar</a>
                    </div>
                </div> -->
            </div>

            <div class="community-section moderador_comunidades" th:each="book : ${books}">

                <p th:text="${book.nome}"></p>

                <!-- <div class="card">
                    <img class="card__img community-icon" th:if="${community.icone == null}"
                        src="/static/image/semImagem.png" alt="Icone da comunidade">
                    <img class="card__img community-icon" th:if="${community.icone != null}" th:src="${community.icone}"
                        alt="Icone da comunidade">
                    <div class="card__footer">
                        <span class="community-title" th:text="${community.title}"></span>
                    </div>
                    <div>
                        <a th:href="@{'/community/' + ${community.id}}" class="card-button">Editar</a>
                    </div>
                </div> -->
            </div>

        </div>

        <script>
            $(document).ready(function () {
                $('.community-menu-li').click(function () {
                    $('.community-section').removeClass('section-active');
                    $('.community-menu-li').removeClass('active');
                    var classToActivate = $(this).attr('class').split(' ')[1];
                    $('.' + classToActivate).addClass('section-active');
                    $(this).addClass('active');
                });
            });
        </script>
</body>

</html>