<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Paginas</title>

    <script src="https://kit.fontawesome.com/949dcd6b8d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/IndexStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/HeaderStyle.css}" />
    <link rel="stylesheet" th:href="@{/static/css/PerfilStyle.css}" />
    <script th:src="@{/static/js/HeaderScript.js}"></script>
</head>

<body>
    <div th:replace="~{fragments/header/header :: header}"></div>

    <div class="perfil">
        <div class="perfil-principal">
            <div th:replace="~{fragments/sidebar/sidebar-loggedin}"></div>
        </div>
        <div class="perfil-right">
            <form class="form-container" th:action="@{/book/create/save/{id}(id=${idUsuario})}" method="post"
                enctype="multipart/form-data">

                <h3>Qual livro você gostaria de trocar?</h3>

                <div class="form-content">
                    <div class="form-left">
                        <label class="form-label" for="nome">Nome:</label>
                        <input class="form-input" type="text" id="nome" name="nome" required>

                        <label class="form-label" for="descricao">Descrição:</label>
                        <textarea class="form-input" id="descricao" name="descricao" rows="4" maxlength="500"
                            required></textarea>

                        <label class="form-label" for="estado">Estado do livro:</label>
                        <select class="form-input" id="estado" name="estado" required>
                            <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}"></option>
                        </select>

                        <label class="form-label" for="tipo">Tipo:</label>
                        <select class="form-input" id="tipo" name="tipo" required>
                            <option value="" disabled selected hidden>Selecione um tipo</option>
                            <option th:each="tipo : ${tipos}" th:value="${tipo}"
                                th:text="${#strings.replace(tipo, '_', ' ')}"></option>
                        </select>
                    </div>

                    <div class="form-right">
                        <label class="form-label" for="estadoBrasil">Estados do Brasil:</label>
                        <select class="form-input" id="estadoBrasil" name="estadoBrasil" required>
                            <option value="" disabled selected hidden>Selecione um estado</option>
                            <option th:each="estadoBrasil : ${estadosBrasil}" th:value="${estadoBrasil}"
                                th:text="${estadoBrasil}">
                            </option>
                        </select>

                        <label class="form-label" for="categoria">Categoria:</label>
                        <select class="form-input" id="categoria" name="categoria" required>
                            <option value="" disabled selected hidden>Selecione uma categoria</option>
                            <option th:each="categoria : ${categorias}" th:value="${categoria}"
                                th:text="${#strings.replace(categoria, '_', ' ')}">
                            </option>
                        </select>

                        <label class="form-label" for="cidade">Cidade</label>
                        <select class="form-input" id="cidade" name="cidade" required>
                            <option value="" disabled selected hidden>Escolha um estado para ver as cidades.</option>
                        </select>

                        <label class="form-label" for="imagens">Imagens:</label>
                        <input class="form-input" type="file" id="images" name="images" accept="image/*" multiple>
                    </div>
                </div>

                <button class="form-button" type="submit">Salvar</button>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#estadoBrasil').change(function () {
                var estadoSelecionado = $(this).val();
                $.ajax({
                    url: 'https://servicodados.ibge.gov.br/api/v1/localidades/estados/' + estadoSelecionado + '/municipios',
                    type: 'GET',
                    success: function (data) {
                        $('#cidade').empty(); // Limpa as opções anteriores
                        $.each(data, function (index, cidade) {
                            $('#cidade').append('<option value="' + cidade.nome + '">' + cidade.nome + '</option>');
                        });
                    },
                    error: function (error) {
                        console.log('Erro ao carregar cidades:', error);
                    }
                });
            });
        });
    </script>
</body>

</html>