<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Paginas</title>
</head>

<body>
    <div th:fragment="sideBar">
        <div class="perfil-principal__div">
            <div class="perfil-principal__div-image">
                <a th:href="@{/perfil}">
                    <img th:src="${user.imagem}" alt="Imagem do Usuário" />
                    <p th:text="${user.nome}"></p>
                </a>
            </div>
        </div>
        <span class="border"></span>
        <div class="perfil-principal__left">
            <ul class="perfil-principal__left-menu">
                <a th:href="@{/book/create/{id}(id=${user.id})}">
                    <li>
                        <i class="fa-solid fa-book"></i>
                        Que tal trocar livros?
                    </li>
                </a>
                <a th:href="@{/book/exchanges/{id}(id=${user.id})}">
                    <li>
                        <i class="fa-solid fa-people-arrows"></i>
                        Historico de Trocas
                    </li>
                </a>
                <a th:href="@{/community/create/{id}(id=${user.id})}">
                    <li>
                        <i class="fa-solid fa-person-shelter"></i>
                        Criar Comunidade
                    </li>
                </a>
                <a th:href="@{/community/mycommunities/{id}(id=${user.id})}">
                    <li>
                        <i class="fa-solid fa-people-group"></i>
                        Minhas Comunidades
                    </li>
                </a>

                <span class="border"></span>

                <a th:href="@{/infos/{id}(id=${user.id})}">
                    <li>
                        <i class="fa-solid fa-gear"></i>
                        Configurações
                    </li>
                </a>

                <a href="#">
                    <li>
                        <i class="fa-regular fa-circle-question"></i>
                        Suporte
                    </li>
                </a>

                <a th:href="@{/logout}">
                    <li>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Logout
                    </li>
                </a>
            </ul>
        </div>
    </div>
</body>

</html>